body{
     background-color: white;
     color: blue;
     }
     ol{
        color: green;
        }
     h1{
        background-color: yellow;
        color: purple;
        }
     ol{ 
        color: green;
        }
      
p{
    color: orange;
} 







      
